.flair {
    width: 1.20em;
    height: 1.20em;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: #fff; 
    border-radius: 50%;
    z-index: 2147483647;
    mix-blend-mode: difference;
  }
  
  @media (max-width: 1075px) {
    .flair {
      display: none;
    }
  }