.loader-container{
    width: 100%;
    height: 100dvh;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999999;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   gap: 10px;
}
.loader-text{
    color: rgb(102, 102, 102);
}
.loader-rs{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column-reverse;
}
@media (max-width: 975px){
    .experiment-title {
        font-size: 15vw !important;
    }
}
@media (max-width: 475px){
    .experiment-title {
        font-size: 19vw !important;
    }
}
