@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

header{
    width: 100%;
}

main{
    width: 100%;
    min-height: 100vh;
}

/* @media (max-width: 1920px) {}
@media (max-width: 1875px) {}
@media (max-width: 1775px) {}
@media (max-width: 1675px) {}
@media (max-width: 1575px) {}
@media (max-width: 1475px) {}
@media (max-width: 1375px) {}
@media (max-width: 1275px) {}
@media (max-width: 1175px) {}
@media (max-width: 1075px) {}
@media (max-width: 975px) {}
@media (max-width: 875px) {}
@media (max-width: 775px) {}
@media (max-width: 675px) {}
@media (max-width: 575px) {}
@media (max-width: 475px) {} */